body {
  background-color: #000;
}
.card {
  width: 100px !important;
  height: 100px !important;
  margin-left: 5%;
  background-size: 100px;
  position: relative;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100px;
  width: 60px;
  left: -90px;
  transform: skewX(-30deg);
  animation: animy 2s infinite;
}

/* To start animation after hover */
.card:hover::before {
  /* animation: animy 2s infinite;  */
}

@keyframes animy {
  /* come form single side */
  0% {
    left: -90px;
  }
  100% {
    left: 160px;
  }

  /* come from both side */
  /* 50% {
    left: 160px;
  } */
}
.card a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
.card:nth-child(1) {
  margin-left: 0;
  background-color: #33cccc;
}
.card:nth-child(2) {
  background-color: #006600;
}
.card:nth-child(3) {
  background-color: #cc6600;
}

.shine-animation {
  display: flex;
}
